body {
    margin: 0;
}
.parent {
    background: burlywood;
    width: 100px;
    height: 100px;
}
.child {
    background: brown;
    height: 50%;
    width: 50%;
}
.em {
    font-size: 2em;
}
:root {
    font-size: 15px;
}
.rem {
    font-size: 2rem;
}